@font-face {
    font-family: 'Lay Grotesk - Trial';
    src: url('LayGrotesk-Trial-Black.woff2') format('woff2'),
        url('LayGrotesk-Trial-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lay Grotesk - Trial';
    src: url('LayGrotesk-Trial-Bold.woff2') format('woff2'),
        url('LayGrotesk-Trial-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lay Grotesk - Trial';
    src: url('LayGrotesk-Trial-Medium.woff2') format('woff2'),
        url('LayGrotesk-Trial-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lay Grotesk - Trial';
    src: url('LayGrotesk-Trial-Semibold.woff2') format('woff2'),
        url('LayGrotesk-Trial-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lay Grotesk - Trial';
    src: url('LayGrotesk-Trial-Regular.woff2') format('woff2'),
        url('LayGrotesk-Trial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

